@import '~styles/colors';

.formContainer {
    font-family: sans-serif;
    display: flex;
    flex-direction: column;
    margin-top: 30px;
    padding: 15px;
    display:flex;
    max-width: 375px;
    width: 100%;
    border-radius: 10px;
    box-shadow: 0 8px 21px 0 rgba($primary, 0.16);
    border: solid 1px rgba($secondary, 0.5);
    background-color: $white;

    .loginTitle {
        font-weight: 600;
        font-size: 20px;
        color: $tertiary;
    }

    form {
        display: flex;
        flex-direction: column;
        align-items: center;

        .inputWrapper {
            padding: 5px;

            .label {
                color: $tertiary;
                font-size: 14px;
            }
            input {
                width: 200px;
                border: solid 1px rgba($secondary, 0.5);
                background-color: rgba($primary, 0.16);
            }
        }

        .buttonContainer {
            padding: 15px 15px 0 15px;

            button {
                font-weight: 600;
                font-size: 16px;
                border: solid 1px rgba($secondary, 0.5);
                background-color: rgba($primary, 0.16);
                color: $tertiary;

                &:hover {
                    background-color: rgba($secondary, 0.5);
                }
            }
        }

    }
}